.image-carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.image-carousel--button-column,
.image-carousel--image-column {
  text-align: center
}

.image-carousel--button-column {
  width: 15%;
}

.image-carousel--image-column {
  width: 70%;
}

.image-carousel--image {
  max-height: 550px;
}

.image-carousel--button {
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
  border: 4px solid black;
  background: black;
}

.image-carousel--button:hover {
  color: black;
  background: white;
}
