.category-button-list {
  width: 100%;
  text-align: center;
}

.category-button-list--label {
  color: white;
  margin-top: 4rem;
}

.category-button {
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: blue;
  border: 4px solid white;
  border-radius: 0.25rem;
  background: white;
}

.category-button:hover {
  border-color: blue;
}

.category-button_selected {
  color: white;
  border-color: blue;
  background: blue;
}