html {
  min-height: 100vh;
}

body {
  background: linear-gradient(60deg,#595fd7,#37b7ef) no-repeat;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}
